<div class="weapon-list">
  <form [formGroup]="weaponForm">
    <table>
      <tr>
        <td colspan="3">
          <mat-form-field class="example-full-width">
            <input matInput class="inputNameText" type="text" formControlName="name">
            <div class="hint">
              <mat-label>weapon name</mat-label>
            </div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-form">
            <input matInput class="inputText" step="0.01" type="number" formControlName="caliber">
            <div class="hint">
              <mat-label>caliber</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-form">
            <input matInput class="inputText" min="1" name="shotAmount" type="number" formControlName="shotAmount">
            <div class="hint">
              <mat-label>shot amount</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-form">
            <mat-select disableOptionCentering value="rifle" class="inputText" formControlName="type">
              <mat-option class="choose-option" value="rifle">rifle</mat-option>
              <mat-option class="choose-option" value="revolver">revolver</mat-option>
            </mat-select>
            <div class="hint">
              <mat-label>weapon type</mat-label>
            </div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button class="register-btn" (click)="save()">Register weapon</button>
        </td>
      </tr>
    </table>
  </form>
  <td>
    <button (click)="goToWeaponList()">Return</button>
  </td>
</div>
