input[type='number'] {
  -moz-appearance:textfield;
}

.example-form {
  width: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.example-full-width {
  width: 300px;
  text-align: center;
}

.hint {
  font-size: 11px;
  text-align: center;
}

.weapon-list {
  font-family: "David CLM";
  font-size: 16px;
  background-image: url("../../assets/bg.jpg");
  margin-bottom: 15px;
  text-align: left;
}

/deep/ .mat-select-value{
  color: black;
}
