<body>
<div class="weapon-list">
  <table>
    <tbody>
    <h2>My weapons</h2>
    <div *ngFor="let weapon of weapons">
      <tr>
        <!--<td>{{weapon.id}}. </td>-->
        <td>{{weapon.name}}</td>
        <td>cal. {{weapon.caliber}}</td>
        <td>shot amounts: {{weapon.shotAmount}}</td>
        <td>
          <button [routerLink]="['/weapon-edit', weapon.id]">edit</button>
        </td>
      </tr>
    </div>
    </tbody>
  </table>
  <button [routerLink]="['/weapon-add']">Add weapon</button>
  <button [routerLink]="['']">Return</button>
</div>
</body>
<router-outlet></router-outlet>
