<div class="shooting-list">
  <br>
  <form [formGroup]="shootingForm">
    <table>
      <tr>
        <td colspan="3">
          <mat-form-field class="example-date-form">
            <input matInput class="inputText" type="date" formControlName="date">
            <div class="hint">
              <mat-label>date</mat-label>
            </div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <mat-form-field class="example-weapon-form">
            <mat-select disableOptionCentering class="inputText" formControlName="weapon">
              <mat-option *ngFor="let option of weapons" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
            <div class="hint">
              <mat-label>weapon</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="3">
          <mat-form-field class="example-date-form">
            <mat-select disableOptionCentering class="inputText" formControlName="bullet">
              <mat-option *ngFor="let option of bullets"
                          [value]="option.id">{{ option.caliber + " " + option.type}}</mat-option>
            </mat-select>
            <div class="hint">
              <mat-label>bullet</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" formControlName="distance">
            <div class="hint">
              <mat-label>distance</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" formControlName="powderGrains">
            <div class="hint">
              <mat-label>powder</mat-label>
            </div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="zeroResult" formControlName="zeroResult">
            <div class="hint">
              <mat-label>0</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="oneResult" formControlName="oneResult">
            <div class="hint">
              <mat-label>1</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="twoResult" formControlName="twoResult">
            <div class="hint">
              <mat-label>2</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="threeResult" formControlName="threeResult">
            <div class="hint">
              <mat-label>3</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="fourResult" formControlName="fourResult">
            <div class="hint">
              <mat-label>4</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="fiveResult" formControlName="fiveResult">
            <div class="hint">
              <mat-label>5</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="sixResult" formControlName="sixResult">
            <div class="hint">
              <mat-label>6</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="sevenResult" formControlName="sevenResult">
            <div class="hint">
              <mat-label>7</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="eightResult" formControlName="eightResult">
            <div class="hint">
              <mat-label>8</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="nineResult" formControlName="nineResult">
            <div class="hint">
              <mat-label>9</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td colspan="1">
          <mat-form-field class="example-shooting-form">
            <input matInput class="inputText" step="1" type="number" name="tenResult" formControlName="tenResult">
            <div class="hint">
              <mat-label>10</mat-label>
            </div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="register-btn" (click)="save()">Register shooting</button>
        </td>
      </tr>
    </table>
  </form>
  <td>
    <button (click)="goToShootingList()">Return</button>
  </td>
  <td>
    <button (click)="remove()">delete</button>
  </td>
</div>
