<div class="bullet-list">
  <table>
    <tbody>
    <div *ngFor="let bullet of bullets">
      <tr>
        <td>{{bullet.caliber}} -</td>
        <td>{{bullet.type}}</td>
        <td>
          <button [routerLink]="['/bullet-edit', bullet.id]">edit</button>
        </td>
      </tr>
    </div>
    </tbody>
  </table>
  <button [routerLink]="['/bullet-add']">Add new bullet</button>
  <button [routerLink]="['']">Return</button>
</div>
