<mat-toolbar class="top-bar">
  <span>Welcome to {{title}}!</span>
  <div class="login-button">
    <mat-card-content>
      <button mat-raised-button color="accent" *ngIf="!isAuthenticated"
              (click)="oktaAuth.loginRedirect()">Login
      </button>
      <button mat-raised-button color="accent" *ngIf="isAuthenticated"
              (click)="oktaAuth.logout()">Logout
      </button>
    </mat-card-content>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
