.inputText {
  font-size: 14px;
  width: 100px;
  height: 35px;
}

.inputNameText {
  font-size: 16px;
  width: 300px;
  height: 40px;
}


.register-btn{
  width: 300px;
  height: 50px;
}

.top-bar {
  background-image: url("../assets/wood.jpg");
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.login-button
{
  text-align: right;
  color: red;
}
