  <div class="shooting-list">
    <table>
      <tbody>
      <div *ngFor="let shooting of shootings">
        <tr>
          <td>{{shooting.date}} </td>
          <td>{{shooting.weapon.type}} {{shooting.weapon.name}} cal. {{shooting.weapon.caliber}}  ||</td>
          <td>distance: {{shooting.distance}} ||</td>
          <td>bullet: {{shooting.bullet.caliber}} {{shooting.bullet.type}} ||</td>
          <td>shots: {{shooting.shotAmount}} </td>
          <td>result: {{shooting.sum}} </td>
          <td>    <button [routerLink]="['/shooting-edit', shooting.id]">delete/edit</button>
          </td>
        </tr>
      </div>
      </tbody>
    </table>
    <button [routerLink]="['/shooting-add']">Add new shooting</button>
    <button [routerLink]="['']">Return</button>
  </div>
