.shooting-list {
  font-family: "David CLM";
  background-image: url("../../assets/bg.jpg");
  margin-bottom: 15px;
  text-align: left;
}

.example-form {
  font-size: 16px;
  width: 120px;
  color: black;
  text-align: center;
}

.form {
  font-size: 20px;
  width: 240px;
  text-align: center;
}

.example-date-form {
  width: 180px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.example-weapon-form {
  width: 240px;
  font-size: 18px;
  text-align: center;
}

.example-shooting-form {
  width: 60px;
  font-size: 16px;
  text-align: center;
}

.hint {
  font-size: 11px;
  text-align: center;
}

/deep/ .mat-select-value{
  color: black;
}
