<mat-card>
  <mat-card-content>
    <button mat-raised-button color="accent" *ngIf="!isAuthenticated"
            [routerLink]="['/home']">Login
    </button>
    <!--<button mat-raised-button color="accent" *ngIf="isAuthenticated"-->
            <!--(click)="oktaAuth.logout()">Logout-->
    <!--</button>-->
    <button mat-raised-button color="accent" *ngIf="isAuthenticated"
            [routerLink]="['/weapon-list']">Weapons
    </button>
    <button mat-raised-button color="accent" *ngIf="isAuthenticated"
            [routerLink]="['/bullet-list']">Bullets
    </button>
    <button mat-raised-button color="accent" *ngIf="isAuthenticated"
            [routerLink]="['/shooting-list']">Shootings
    </button>
  </mat-card-content>
</mat-card>
