<div class="bullet-list">
  <form [formGroup]="bulletForm">
    <table>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput class="inputNameText" type="text" name="type" formControlName="type">
            <div class="hint">
              <mat-label>bullet type</mat-label>
            </div>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-form">
            <input matInput class="inputText" step="0.01" type="number" name="caliber" formControlName="caliber">
            <div class="hint">
              <mat-label>caliber</mat-label>
            </div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="register-btn" (click)="save()">Register bullet</button>
        </td>
      </tr>
    </table>
  </form>
  <td>
    <button (click)="goToBulletList()">Return</button>
  </td>
  <td>
    <button (click)="remove()">Delete</button>
  </td>
</div>

